<!DOCTYPE html>
{% load static %}
{% load exe_tags %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    <link type="text/css" href="{% static 'exe/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
{% block mainmenu %}
    <ul>
        {% for m in menu %}
        <li>{{m}}</li>
        {% endfor %}
    </ul>

    {% show_clusters '-name' cat_selected %}

{#    {%  getclusters as clusters %}#}

{% endblock mainmenu %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% endblock content %}
</body>
</html>